.d-block{
    width: 50%;
    margin-left: 25%;
}

.carousel-inner{
    background-image: url('https://i.pinimg.com/originals/95/58/b9/9558b95660d31cdbfb19167da2a707f4.gif');
}
.reload{
    background-color: transparent;
    border: none;
    color: white;
}
.col-md-6{
    margin-left: 46%;
}
.row{
    background-color: rgb(235, 140, 155);
}
.event{
    min-height: 350px;
    margin: 40px;
    list-style: none;
    border: 1px solid #77777769;
    padding: 30px 50px 0px 50px;
    box-shadow: 0 0 1em rgba(139, 10, 71, 0.9);
}
.like{
    border: none;
    background-color: transparent
}
.dislike{
    border: none;
    background-color: transparent
}
.bg-dark{
    background-color: rgba(139, 10, 71, 0.9) !important;
}