
.d-block{
    width: 50%;
    margin-left: 25%;
}

.carousel-inner{
    background-image: url('https://i.pinimg.com/originals/95/58/b9/9558b95660d31cdbfb19167da2a707f4.gif');
}
.reload{
    background-color: transparent;
    border: none;
    color: grey;
}
.col-md-6{
    margin-left: 46%;
}
.row{
    background-color: lightgrey;
}
.event{
    min-height: 350px;
    margin: 40px;
    list-style: none;
    border: 1px solid #77777769;
    /* border-radius: 4px; */
    padding: 30px 50px 0px 50px;
    box-shadow: 0 0 1em #80808066;
}
